@charset "utf-8";
html 
{
 font-size: 62.5%;
 background-color: #F6F6F6;}

@mixin fontsize($size: 24, $base: 10) {
 font-size: $size + px;
 font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

//header
.u-max-full-width{
 margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width:550px) { 
 .u-max-full-width{
 display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
}
.pc_menu_li{
 margin-top: 50px;
 text-align: right;
 img{
  margin-left:15px;
 }
 .instagram{
  margin-left:10px;
 }
}
@media (max-width:550px) { 
 .pc_menu_li{
 display: none;
}
}

.sp_menu_li{
 text-align: center;
 margin-top: 10px;
 max-width: 130px;
    margin-right: auto;
    margin-left: auto;
.sp_menu_img{
 display: inline;
 .facebook{
     zoom: 1.3;
    float: left;
 }
 .instagram{
  zoom: 1.3;
 }
}
#menu {
  cursor: pointer;
  display: inline;
 img{
  zoom: 1.3;
    float: right;
 } 
}
}

.sp_menu_toggle {
  display: none;
  li{
   list-style: none;
  
   a{
        font-size: 90%;
   }
  }
}
@media (min-width:551px) { 
 .sp_menu{
 display: none;
}
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
 text-align: left;
 display: inline-block;
 margin-top: 5px;
    margin-bottom: 15px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 25px;
    height: 5px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: red;
}
.pc-title{
 margin-top: 20px;
 width:100%;
}
@media (max-width:550px) { 
.pc-title{
     display:none;
}
}

.sp-title{
 display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top:20px;
}
@media (min-width:551px) { 
.sp-title{
     display:none;
}
}

 .item-container
 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
 .item-box{
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 33%;
    margin-top: 2px;
    background-color: #FFFFFF;
    padding-top: 15px;
  img{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }
  p{
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 85%;
  }
  }
  }  
  
@media (max-width:550px) { 
 .item-container{
 .item-box{
 box-sizing: border-box;
    width: 49.5%;
    height:70%;
    margin-top: 2px;
    background-color: #FFFFFF;
    padding-top: 15px;
 img{
     max-width: 85%;
    height: auto;
}
 p{
  max-width: 85%;
 }
}
}
}

  .title-guide{
     margin-bottom: 0px;
    margin-top: 25px;
}
 
 .shopping-container
 {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
   .shopping-box{
    background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width:49.8%;
    margin-top: 20px;
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 2%;
   h2{
    font-size: 120%;
    color:#887f69;
   } 
   h3{
    font-size: 85%;
    display: block;
    margin-bottom: 0;
    color:#887f69;
   }
   p{
    display: block;
    margin-bottom: 10px;
  font-size: 85%; }
  .cards{
   width: 100%;
  }
   
}
}
@media (max-width:550px) { 
  .shopping-container
 {
  flex-direction: column;
  .shopping-box
  {width: 100%;
  .cards{
   max-width: 90%;
    display: block;
    margin-right: auto;
    margin: auto;
    margin-bottom: 10px;
}
  }
}
}

// sidebar
.item-search{
 background-color: #FFFFFF;
     padding-left: 20px;
    padding-top: 20px;
 padding-bottom: 25px;
    margin-bottom: 10px;
.serach-box{
 display: block;
    width: 90%;
    height: 80%;
    margin-bottom: 0px;
    background: #F6F6F6 url(../images/top/search_icon.png) no-repeat center right 10px;
}
}
@media (max-width:550px) { 
 .item-search{
  margin-top: 10px;
 img{
  display:none;
 }
 }
}

.page-link{
 background: #887f69 url(../images/top/next_icon.png) no-repeat center right 10px;
    padding: 10px;
 .nexticon{
  display: inline-block;
    padding-left: 100px;
 }
}
.categories{
 background: #887f69url(../images/top/down_icon.png) no-repeat center right 10px;
    padding: 10px;
    margin-top: 10px;
 .downicon{
  display: inline-block;
    padding-left: 88px;
 }
}
.category-name{
 background: #FFFFFF url(../images/top/next_icon_gray.png) no-repeat center right 10px;
  padding: 10px;
  font-size: 80%;
  .nexticon{
   padding-left: 100px;
    display: inline-block;
  }
}
.about{
 margin-top: 10px;
  background-color: #887f69;
    padding: 10px;
}
.shop-info{
 margin-top: 10px;
  background-color: #887f69;
    padding: 10px;
}
.sidebar-box{
 background-color: #FFFFFF;
 .sidebar-img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
 }
 p{
    font-size: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .morebtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
}
@media (max-width:550px) { 
 .sidebar-box{
  display:none;
 }
 }
.sidebar-box-sp{
 background-color: #FFFFFF;
 padding-bottom: 5px;
 .sidebar-img{
  float: left;
    width: 45%;
    margin-top: 10px;
    margin-left: 10px;
}
.sidebartext{
 font-size: 85%;
    overflow: hidden;
    padding-top: 10px;
    width: 45%;
    padding-left: 10px;
    margin-bottom: 5px;
}
.morebtn-sp{
 display: block;
    margin-left: 140px;
}
}
@media (min-width:551px) { 
 .sidebar-box-sp{
 display: none;
}
}
 

// footer
.pagetop{
display: block;
    margin: 0 0 0 auto;
}

@media (max-width:550px) { 
 .pagetop{
 margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
 }
}
.footer-box{
     margin-top: 20PX;
.footer-inner-box{
 padding-top: 30px;
    border-top-style: solid;
    border-width: thin;
 p{
  text-align: center;
    font-size: 85%;
  .copy{
   font-size: 70%;
    color: gray;
 }
 }
}
}

@media (max-width:550px) { 
 .footer-box{
 .footer-inner-box{
 p{
      font-size: 80%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
 }
}
}
}

.home{
 .cate-name{
  background-color: #e8e4da;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
    border-radius:5px;
  img{
   display: inline-block;
    margin-left: 10px;
  }
  p{
   display: inline-block;
    padding-left: 10px;
    color:#986161;
    font-size: 70%;
    margin-bottom: 10px;
  }
 }
 .home-img-pc{
  width:100%;
 }
 .u-max-full-width{
      margin-top: 10px;
    margin-bottom: 10px;
 }
 }

@media (min-width:551px) {
 .home{
 .u-max-full-width{
  display:none;
 }
}
}
@media (max-width:550px) { 
 .home-img-pc{
  display:none;
 }
 }

.btn{
 .backbtn{
  text-align: center;
    color: #FFFFFF;
    font-size: 80%;
    font-weight: bold;
    background-color: #887f69;
    border-width: 0px;
    border-radius: 0px;
    margin-top: 15px;
    float: left;
 }
 .nextbtn{
  text-align: center;
    color: #FFFFFF;
    font-size: 80%;
    font-weight: bold;
    background-color: #887f69;
    border-width: 0px;
    border-radius: 0px;
    margin-top: 15px;
    float: right;
 }
}
@media (max-width:550px) { 
.backbtn{
     width:40%;
}
.nextbtn{
     width:40%;
}
}

 .pc-title{
  margin-top: 20px;
 }
 
#product_img
{
    display: flex;
}
#list_img{
 display: inline-block;
 width: 250px;
 li{
  display: inline-block;
    list-style: none;
 img{
  width: 110px;
 }
 }
}
.product-detail{
 background-color:#FFFFFF;
 padding: 50px;
 .product-name{
  display:flex;
  border-bottom: solid 1px #e3e8cf;
  .name{
   font-weight: bold;
    letter-spacing: 1px;
  }
  .number{
   color:#a6a6a6;
   display: block;
    margin-left: auto;
  }
 }
 #product_img{
      padding-top: 20px;
    #display_img{
     box-sizing: border-box;
     width: 70%;
    img{
     width: 100%;
    }
    }
  #list_img{
   box-sizing: border-box;
    width: 28%;
    margin-left: 10px;
   li{
    box-sizing: content-box;
    width: 47%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left:1%;
}
    img{
     width:100%;
    }
   }
 }
.colorsize{
  margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    border-top: solid 1px #e3e8cf;
    padding-top: 15px;
  table{ 
   text-align: center;
   width:100%;
   margin-top: 15px;
   tr{
    th{
   background-color: #f9f9f5;
    border: 1px solid #e8e4da;
    text-align: center;
    padding: 10px;
    font-weight: normal;
    font-size: 80%;
    color:#887f69;
    
}
 td{
  border: 1px solid #e8e4da;
  width: 38%;
  text-align: center;
  padding: 10px;
  input{
   margin-bottom: 0;
  }
 }
 }
}
}
.priceinfo{
 display: flex;
 .prices{
  width: 60%;
  .price{
   border-bottom: solid 1px #e3e8cf;
    margin-top: 20px;
    margin-bottom: 10px;
   p{
   color: #E80F65;
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    padding-left: 25%;
    margin-bottom: 10px;
    .yen{
     font-size: 12px;
    }
    .tax{
         font-size: 12px;
    color: black;
    }
   }
   }
   .quantity{
        margin-top: 15px;
    input{
     width: 40%;
    display: inline-block;
    margin-left: 20%;
    border-radius: 0;
    }
   }
 }
 .cart{
  margin-left: auto;
 }
}
.pro_text{
 .title{
  color: #887f69;
  font-weight: bold;
    letter-spacing: 0.7px;
    border-top: solid 1px #e3e8cf;
    padding-bottom: 15px;
    border-bottom: solid 1px;
    padding-top: 40px;
 }
 .title2{
  color: #887f69;
 }
 .text{
      font-size: 90%;
      margin-bottom: 5px;
 }
 table{
  margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    width: 80%;
    color: #887f69;
    tr{
     border: #e8e4da solid 1px;
     th{
          text-align: center;
    width: 30%;
    font-weight: normal;
    background-color: #f9f9f5;
    border: #e8e4da solid 1px;
     }
    }
}
 }
}

@media (max-width:550px) { 
 .product-detail{
 padding: 15px;
 .product-name{
  flex-direction: column;
  .name{
   margin-bottom: 0;
  }
  .number{
   margin-left: 0;
   margin-bottom: 10px;
  }
}
#product_img{
 flex-direction: column;
 #display_img{
      width: 100%;
 }
 #list_img{
  width: 100%;
    margin-left: 0px;
    margin-bottom: 0;
  li{
   width: 16%;
   margin-right: 4px;
  }  
 }
}
.colorsize{
 margin-top:0px;
}
.priceinfo{
 flex-direction: column;
 .prices{
  width: 100%;
  .quantity{
   border-bottom: solid 1px #e3e8cf;
  }
 } 
 .cart{
  margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
 }
}
.pro_text{
 .title{
  border-top:none;
  padding-top: 20px;
 }
 table{
  width:100%;
  tr{
   th{
    padding-left: 15px;
   }
   td{
    padding-right: 15px;
   }
  }
 }
}
}
}